In [1]:
import pandas as pd
import numpy as np
from algorithm import Naivebayes
from utils import *
import re

In [ ]:
# quantity, container (optional), product

In [8]:
def pattern_search(text):
    pattern = re.search(
        r'(?P<quantity>\d+|\w+)[ ]*(?P<container>[ck]a[a-z]+|pa[a-zá]+|[bv][a-zó]+)?[ ]*(?:de)?[ ]*(?P<product>.*)',text)
    
    quantity = pattern.group('quantity')
    container = pattern.group('container')
    name_product = pattern.group('product')
    return (quantity, container, name_product)
    

pattern_search('5 inca kolas medianas')

('5', None, 'inca kolas medianas')

Load the init data

In [3]:
df, cat = get_frame('data_init.json')
nb = fit_model(df)

In [7]:
df

                       features  responses
0                          hola          1
1                   buenos dias          1
2                 buenas Noches          1
3               hacer un pedido          2
4             generar un pedido          2
5               tomar un pedido          2
6        quiero tomar un pedido          2
7      quiero generar un pedido          2
8           mostrar las pedidos          0
9        cuales con mis pedidos          0
10  cual es la lista de pedidos          0
11               listo, gracias          3
12                    nos vemos          3
13                         chau          3

In [15]:
nb.predict(np.array([['hacer un pedido']]))

array([2], dtype=int8)

In [11]:
cat.categories[np.array([2])]

Index(['escucho el pedido'], dtype='object')

In [48]:
init_data = get_data(name = './data/data_product.json')

init_data_frame = pd.json_normalize(init_data, record_path='features', meta=["responses"])
init_data_frame.columns = ['features', 'responses']

resp_categorical = pd.Categorical(init_data_frame.responses)

init_data_frame.responses = resp_categorical.codes

In [49]:
init_data_frame

                 features  responses
0           pilsen chicas          1
1            pilsen chica          1
2   pilsen de seiscientos          1
3             pizza chica          1
4        pizzas en chicas          1
5           pilsen grande          2
6         pilsen de litro          2
7          pilsen grandes          2
8            pilsen litro          2
9         pizza en grande          2
10       pizzas en grande          2
11      inca kola mediana          0
12      inka cola mediana          0
13                   inka          0
14                mediana          0

Model the data

In [50]:
def fit_model(data, x_name, y_name):
    nb = Naivebayes(model='n_gram', n=3)
    X = np.array(data[[x_name]])
    y = np.array(data[y_name])
    nb.fit(X, y)
    
    return nb

In [51]:
nb_init = fit_model(init_data_frame, 'features', 'responses')

In [52]:
nb_init.predict(np.array([['incs']]))

array([0], dtype=int8)

In [58]:
np.exp(nb_init.log_prior[2])

0.4